<a href="https://colab.research.google.com/github/Taweesak02/02739241/blob/main/Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print('single quote')

single quote

Print: การแสดงผล

ถ้าเป็น String จะต้องอยู่ในเครื่องหมาย " " หรือ ' ' เสมอ สามารถต่อหลาย String ได้ด้วยเครื่องหมาย +

In [ ]:
print("hello"+"world")
print("hello"+""+"world")
print("hello","world","!","R2DE")

helloworld
helloworld
hello world ! R2DE

Python Variable:ตัวแปร

int (Integer) เป็นข้อมูลจำนวนเต็ม

In [ ]:
# Int
a = 1
a

1

การใช้ comment ในโค้ด

In [ ]:
# This is comment
# print("hello")
# สิ่งที่อยู่หลังเครื่องหมาย # เรียกว่า comment
# คือ Python จะไม่สนใจ comment ใน code

เราสามารถเปลง ข้อมูลจาก int เป็นประเภทอื่นได้

float (Float) เป็นข้อมูลประเภททศนิยม

In [ ]:
# Float
float(a)

1.0

str (String) เป็นข้อมูลประเภท"ข้อความ"

สามารถแปลง ตัวเลขให้เป็นข้อความได้ด้วย str(ตัวแปร)

In [ ]:
# String
str(a)

'1'

การบวก string คือการ นำ string สองอันมาต่อกัน

In [ ]:
str(a) + "1"

'11'

In [ ]:
print(1+2+3)

6

bool (Boolean) เป็นข้อมูลประเภทค่าความจริง True / False

ถ้าตัวแปรที่จะแปลง ไม่ว่างเปล่า จะได้ค่า True

In [ ]:
a = 1

In [ ]:
bool(a)

True

In [ ]:
bool(0)

False

ถ้าตัวแปรไม่มีค่า (มีค่าเป็น None) จะได้ False

In [ ]:
bool(None)

False

คำสั่ง type() เป็นคำสั่งที่ไว้ใช้ตรวจสอบประเภทตัวแปร ว่าเป็นประเภทอะไร

In [ ]:
type(a)

int

In [ ]:
b = "Python!"
b

'Python!'

ถ้าไม่สามรถเปลี่ยนแปลงประเภทของตัวแปรได้ จะขึ้นว่า Value Error

In [ ]:
int(b)

ValueError: invalid literal for int() with base 10: 'Python!'

Pythone Data Structure

โครงสร้างข้อมูลที่ควรรู้จัก

List

List คือ Array มีตำแหน่ง index เริ่มต้นจาก 0 และสามารถเพิ่มได้ (append) หรือแก้ไขข้อมูลใน list ได้ (mutable)

In [ ]:
# ทบทวนตัวแปร
print(a,type(a))
print(b,type(b))

1 <class 'int'>
Python! <class 'str'>

การสร้าง List สร้างโดยเครื่องหมาย []

In [ ]:
empty_list = []
empty_list

[]

การสร้าง list จากตัวแปรที่สร้างขึ้น

In [ ]:
l = [b,a,a + 1,a + 2]
l

['Python!', 1, 2, 3]

การดูจำนวนสมาชิก (length) ของ list

In [ ]:
len(l)

4

การเรียกดูค่า list ในบางช่อง

In [ ]:
l[3]

3

การเปลี่ยนแปลง (assign) ค่า ในสมาชิกของ list

In [ ]:
l[3] = 5
l

['Python!', 1, 2, 5]

ถ้าพยายามจะเปลี่ยนแปลงข้อมูล โดยที่ index (เลขที่ใช้จะเริ่มจาก 0)

In [ ]:
l[4] = ';)'

IndexError: list assignment index out of range

In [ ]:
l

['Python!', 1, 2, 5]

การเพิ่มสมาชิกของ list ต่อท้าย ใช้คำสั่ง append

In [ ]:
l.append(";)")
l

['Python!', 1, 2, 3, ';)']

In [ ]:
len(l)

5

คำสั่ง pop() คือการ Remove สามาชิกตัวสุดท้ายของ list

In [ ]:
l.pop()
l

['Python!', 1, 2, 3]

Tuple

Tuple เป็น data structure เหมือน list โดยเริ่มที่ index 0 แต่*ไม่สามารถแก้ไขข้อมูลได้ (immutable)*ใช้สัญลักษณ์ () แทน tuple ในการสร้าง

In [ ]:
t = (0,1,2,3,4)

In [ ]:
len(t)

5

In [ ]:
t[0:3] #เรียกดูตั้งแต่ตำแหน่ง ... ถึง len()-1

(0, 1, 2)

การใช้เลข Index สำหรับ (list,tuple และ string)

สามารถใช้เลข index เพื่อเข้าถึงสามาชิกได้ โดย index จะเริ่มจาก 0 และถึง len() -1 สามารถอ้างอิงเป็นช่วง ได้ด้วยเครื่องหมาย:(colon) โดยช่วงของ index ตัวแรก ถึง index ตัวสุดท้ายในช่วง -1 (ถ้าเว้นไว้ถึงตัวสุดท้าย) และสามารถใช้เลข index ติดลบแทนการนับจากตัวด้านหลังได้

In [ ]:
t[-1]

4

การเข้าถึงข้อมูล ตัวที่สาม จากท้ายสุด

In [ ]:
t[-3:]

(2, 3, 4)

In [ ]:
t[:-3]

(0, 1)

Tuple เป็น data structure แบบ Immutable

In [ ]:
# จะขึ้นว่า TypeError
t[4]=5

TypeError: 'tuple' object does not support item assignment

Dictionary

เป็น data structure ที่เก็บในลักษณะ key -value ใช้สัญลักษณ์ {} แทน dictionary
เช่น dict = {"key" : "value"}

In [ ]:
grade = {'A':80,
         'B':70,
         'C':60,
         'D':50
         }
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50}

In [ ]:
grade["A"]

80

In [ ]:
grade["B+"]=75
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

การสร้าง dictionary ว่าง และเพิ่มหรืออัปเดตค่า key-value

In [ ]:
d = {}
d["s001"] = "Perth"
d["s002"] = "Fon"

In [ ]:
d["s001"]

'Perth'

Python String

String สำหรับเก็บตัวแปรประเภทข้อความ สามารถเข้าถึง index ได้เหมือนกับ list สามารถต่อเชื่อม string หลายๆ string ด้วยเครื่องหมาย + หรือ join()

In [ ]:
sentence=" Hello Python. I am ready"

In [ ]:
sentence[1]

'H'

In [ ]:
sentence[1:13]

'Hello Python'

strip คือการลบช่องว่าง

In [ ]:
sentence.strip()

'Hello Python. I am ready'

In [ ]:
list_of_words = sentence.strip().split(' ')

In [ ]:
corgi = ' '.join(list_of_words)
corgi

'Hello Python. I am ready'

Loop and Condition

For loop

ในภาษา Python สามารถ for loop ตามสมาชิกแต่ละตัวใน object ที่มีลักษณะเป็น list ได้โดยการสน loop มีการใช้งานดังนี้

for temp_var in list_of_range:

  do_something1()

  do_something2()

สังเกตว่าบรรทัดหลังจาก for จะมีการ tab อยู่ด้านหน้า เพื่อเป็นการจัด scope ของ for loop นั้น

In [ ]:
# ทบทวนตัวแปร l ตัวเดิม
l

['Python!', 1, 2, 5]

In [ ]:
for item in l:
  print(item)

Python!
1
2
5

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

List Comprehension

การวน for loop เพื่อที่จะได้ output ออกมาเป็น list

In [ ]:
list_t = [i for i in t]

ดับเบิลคลิก (หรือกด Enter) เพื่อแก้ไข

In [ ]:
[i+1 for i in range(100)]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

If condition

if condition จะทำตามเงื่อนไขต่อเมื่อเป็นจริงเท่านั้น

elif คือ เงื่อนไขรอง หาก if แรกไม่เป็นจริง มีกี่อันก็ได้

ถ้าไม่ตรงกรณีไหนเลยจะทำ else (else if และ else สามารถไม่มีก็ได้)

In [ ]:
if len(t) == 5:
  print('length is 5')
else:
  print('length is not 5')

length is 5

ตัวอย่างโค้ดการตัดเกรด จากตัวแปร score

In [ ]:
# ทบทวนตัวแปร grade ตัวเดิม
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
score = 75
if score >= grade["A"]:
  print("A")
elif score >= grade["B+"]:
  print("B+")
elif score >= grade["B"]:
  print("B")
elif score >= grade["C"]:
  print("C+")
elif score >= grade["D"]:
  print("D")
else:
  print("F")

B+

Math

Package สำหรับคำนวณตัวเลข เช่น Log,Exponential และเรียกใช้สำคัญทางคณิตศาสตร์ เช่น Pi

In [ ]:
import math

math.pi

3.141592653589793

นอกจากการ import แบบตรงสามารถ import เฉพาะตัวแปร

In [ ]:
from math import pi
pi

3.141592653589793

Datetime

Datetime เป็น Package สำหรับจัดการข้อมูลวันเวลา

In [ ]:
?datetime

Object `datetime` not found.

In [ ]:
import datetime
now = datetime.datetime.now()
now

datetime.datetime(2025, 1, 18, 15, 16, 44, 833965)

isoformat คือ format มาตรฐานที่นิยมใช้ใน timestamp ที่เก็บไว้บน database

In [ ]:
now.isoformat()

'2025-01-18T15:16:44.833965'

In [ ]:
today = datetime.date.today()
today

datetime.date(2025, 1, 18)

รูปแบบมาตรฐานของ date คือ YYYY-mm-dd

In [ ]:
today.isoformat()

'2025-01-18'

Simple functions

Function คือ การกำหนดการคำนวณที่ใช้ซ้ำบ่อยๆ เพื่อให้เรียกใช้ได้สะดวก ในการเรียกใช้ Function ผู้ใช้ส่งตัวแปรเข้ามากี่ตัวก็ได้ (เรียกว่า argument หรือ parameter) เช่น height และ width และสามารถกำหนดค่าในกรณีที่ผู้ใช้ใส่ตัวแปรใน parameter มาไม่ครบ เรียกว่า default parameter (ในตัวอย่างเช่น rate ตัวแปรค่าเงินที่สามารถกำหนด ค่า default ได้) การ return คือการส่งค่ากลับ Function

parameter ของ function คือ ตัวแปรที่เปลี่ยนค่าได้

In [ ]:
def circle_area(radius):
  return pi * radius * radius

circle_area(4)

50.26548245743669

In [ ]:
def rectangle_area(width,height):
  return width * height

rectangle_area(4,5)

20

สร้างฟังก์ชันเพื่อแปลงค่าเงิน โดย rate จะมี default parameter อยู่ที่ 31.33

In [ ]:
def conversion(amount,rate=31.33):
  return amount * rate

conversion(30)

939.9

แต่สามารถปรับเปลี่ยนค่า rate ได้เหมือนฟังก์ชั่นปกติ ถ้าเกิดมีการใส่ rate มา

In [ ]:
conversion(30,34.3333)

1029.999

Working with file

Write file

การเขียนไฟล์ จะใช้คำสั่ง open เพื่อเปิดไฟล์

"w" ของหลัง (wirte)

In [ ]:
file = open("output.csv","w")
file.write("data,item,price\n")
file.write("2020-02-07,Milk,26.5\n")
file.write("2020-02-08,Water,7\n")
file.close()

การวนลูปเขียนไฟล์ จาก list ของ tuple

In [ ]:
header = ("date","item","price")
",".join(header) + "\n"

'date,item,price\n'

In [ ]:
header = ("data","item","price")
content = [
    ("2020-02-07","Milk","26.5"),
    ("2020-02-08","Water","7"),
    ("2020-02-08","Mask","20"),
    ("2020-02-08","Lay","10"),
    ("2020-02-08","Rice","6")
]

file = open('products.csv','w')
file.write(",".join(header) + "\n")

for row in content:
  file.write(",".join(row) + "\n")

file.close()

Read file

In [ ]:
with open('products.csv','r') as f:
  product = f.readlines()

product

['data,item,price\n',
 '2020-02-07,Milk,26.5\n',
 '2020-02-08,Water,7\n',
 '2020-02-08,Mask,20\n',
 '2020-02-08,Lay,10\n',
 '2020-02-08,Rice,6\n']

In [ ]:
len(product)

6

Use Pandas to Read/Write file

In [ ]:
import pandas as pd

df = pd.read_csv("sample_data/california_housing_train.csv")
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
type(df)

pandas.core.frame.DataFrame

savefile CSV จาก Dataframe

In [ ]:
df.to_csv("new_data.csv")

JSON

ดับเบิลคลิก (หรือกด Enter) เพื่อแก้ไข

๋JSON dump = export JSON

In [ ]:
grade

{'A': 80, 'B': 70, 'C': 60, 'D': 50, 'B+': 75}

In [ ]:
import json
json.dumps(grade)

'{"A": 80, "B": 70, "C": 60, "D": 50, "B+": 75}'

In [ ]:
type(json.dumps(grade))

str

In [ ]:
# Save to output file grade.json
json.dump(grade, open("grade.json","w"))

JSON load = import JSON

In [ ]:
student = json.loads('{"student1":"Perth","student2":"Fon"}')
student

{'student1': 'Perth', 'student2': 'Fon'}

In [ ]:
type(student)

dict